@import "./app.scss";

.about__main {
  list-style: none;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
  @include responsive(desktop) {
    margin-left: 200px;
    margin-right: 200px;
  }
  & li {
    margin-top: 20px;
    @include responsive(desktop) {
      margin-top: 33px;
    }
  }
}
