@import "./app.scss";

.about__main {
  list-style: none;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
  @include responsive(desktop) {
    margin-left: 200px;
    margin-right: 200px;
  }
  & li {
    margin-top: 20px;
    @include responsive(desktop) {
      margin-top: 33px;
    }
  }
}

// .collapse__item--title {
//   font-size: 13px;
//   line-height: 19px;
//   @include responsive(desktop) {
//     font-size: 24px;
//     line-height: 34px;
//   }
// }

// .collapse__item--body {
//   font-size: 12px;
//   line-height: 17px;
//   @include responsive(desktop) {
//     font-size: 24px;
//     line-height: 34px;
//   }
// }
