@import "./app.scss";

.card {
  margin-bottom: 20px;
  @include responsive(desktop) {
    margin-bottom: 70px;
  }
  &__wrap {
    width: 335px;
    height: 255px;
    position: relative;
    display: flex;
    align-items: flex-end;
    @include responsive(desktop) {
      width: 340px;
      height: 340px;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    object-fit: cover;
  }
  &__layer {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: absolute;
  }
  &__title {
    z-index: 10;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    @include responsive(desktop) {
      margin-bottom: 20px;
    }
  }
}

.card__link:link {
  text-decoration: none;
}

.placeholder {
  width: 335px;
  height: 0;
}
