@import "./app.scss";

.gallery {
  margin-top: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @include responsive(desktop) {
    margin-top: 20px;
  }
  &__image {
    height: 255px;
    width: calc(100vw - 40px);
    object-fit: cover;
    border-radius: 10px;
    @include responsive(desktop) {
      border-radius: 25px;
      height: 415px;
      width: calc(100vw - 200px);
    }
  }
}

// wieso hat der hier ein paar pixel mehr und ich muss height extra setzen?

.active {
  display: block;
  height: 255px;
  @include responsive(desktop) {
    height: 415px;
  }
}

.inactive {
  display: none;
}

.arrow-left {
  position: absolute;
  width: 12px;
  height: 20px;
  z-index: 10;
  left: 6px;
  cursor: pointer;
  @include responsive(desktop) {
    top: 168px;
    left: 24px;
    width: 47px;
    height: 80px;
  }
}

.arrow-right {
  position: absolute;
  width: 12px;
  height: 20px;
  z-index: 10;
  right: 6px;
  cursor: pointer;
  @include responsive(desktop) {
    top: 168px;
    right: 24px;
    width: 47px;
    height: 80px;
  }
}
