@import "./App.scss";

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 0 20px;
  height: 18px;
  background: #ff6060;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  color: #ffffff;
  margin-right: 10px;
  margin-top: 10px;
  @include responsive(desktop) {
    height: 25px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
  }
}
