@import "../../../App.scss";

.collapse__item {
  // flex: 1 1 0;
  flex-basis: 100%;
  @include responsive(desktop) {
    flex-basis: 48%;
  }
  &--title {
    background: #ff6060;
    border-radius: 5px;
    height: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: #ffffff;
    display: flex;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    user-select: none;
    & p {
      margin-left: 11.5px;
    }
    @include responsive(desktop) {
      height: 52px;
      border-radius: 10px;
      font-size: 18px;
      line-height: 26px;
      & p {
        margin-left: 20px;
      }
    }
  }
  &--arrow-up {
    margin-right: 11px;
    user-select: none;
    @include responsive(desktop) {
      width: 26.5px;
      margin-right: 19px;
    }
  }
  &--arrow-down {
    transform: rotate(180deg);
    margin-right: 11px;
    user-select: none;
    @include responsive(desktop) {
      width: 26.5px;
      margin-right: 19px;
    }
  }

  &--body {
    font-size: 12px;
    line-height: 142.6%;
    color: #ff6060;
    padding: 23px 12px;
    background: #f7f7f7;
    border-radius: 10px;
    position: relative;
    top: -6px;
    z-index: -1;
    @include responsive(desktop) {
      font-size: 18px;
      line-height: 26px;
      padding: 40px 20px;
      top: -10px;
    }
    & ul {
      padding-left: 0;
      list-style: none;
    }
  }
  & + .collapse__item {
    margin-top: 20px;
    @include responsive(desktop) {
      margin-top: 0;
    }
  }
}

.closed {
  display: none;
}
