@import "../../App.scss";

.home__main {
  background-color: white;
  display: block;
  border-radius: 25px;
  margin-top: 22px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 0;
  padding-right: 0;
  list-style-type: none;

  @include responsive(desktop) {
    background: #f7f7f7;
    padding-top: 56px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 43px;
  }
}
